################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/yUYUko_food_MAP.sln
/yUYUko_food_MAP.vcxproj
/yUYUko_food_MAP.vcxproj.filters
/yUYUko_food_MAP.vcxproj.user
/yUYUko_food_MAP/x64/Debug
/backend/node_modules
/frontend/node_modules

# macOS 系统文件
.DS_Store

# 前端构建产物
frontend/dist/
